@{
    ViewData["Title"] = "Account Page";
}

<div class="row">
    <div class="col-md-6">
        <img src="~/images/VISA-Card.png" />
    </div>
    <div class="col-md-6">
        <h2>Welcome Bruce Wayne</h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                USD Balance
            </div>
            <div class="panel-body">
                1,678,123,987.12 $
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                EUR Balance
            </div>
            <div class="panel-body">
                432,999,876.09 €
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-primary">Send Money</button>
            <button class="btn btn-primary">Request Money</button>
            <button class="btn btn-warning">Payments</button>
            <button class="btn btn-info">Transactions</button>            
            <button class="btn btn-success">New Account</button>
        </div>
    </div>
</div>